body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
    font-family: "Truculenta", sans-serif;
    background-color: #13293D;
}
body::-webkit-scrollbar{
    display: none;
}
.navbar{
    width: 100%;
    height: 10vh;
    background-color: red;
}
.members{
    width: 83.333%;
   height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 4rem;
    
}
.member-card{
    width: 280px;
    height: 320px;
    background-color: #247BA0;
    margin: 1rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border: 5px solid #006494;
    box-shadow: 0rem 0rem 0.8rem #e8f1f2da;
}
.member-image{
    width: 100px;
    height: 100px;
    background-color: #006494;
    overflow: hidden;
    
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.408);
    box-shadow: 0rem 0rem 1rem #02425f;
    margin:1rem;
}
.member-image img{
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
   
}
.member-card h2{
    font-weight: 700;
    margin-top: -0.7rem;
    letter-spacing: 1.3px;
    font-size: 1.5rem;
}
.member-card p{
    margin-top: -1.8rem;
    letter-spacing: 2px;
}
.social-links{
    display: flex;
    width: 60%;
    margin-left: 1.5rem;
   
}
.social-links i{
    font-size: 1.7rem;
}
.view-more{
    padding: 0.6rem 2.3rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    background-color: #006494;
    box-shadow: 0rem 0rem 0.3rem #c1f5faab;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
}


/* member profile */


.main_container{
    width: 83.333%;
    height: 100%;
    display: none;
    margin: auto;
    gap: 4rem;
    background-color:#13293D;
}
.back{
    font-size: 1.3rem;
    margin: 1rem;
    cursor: pointer;
    color: white;
    display: inline-block;
    position: absolute;
    left: 0.5rem;
}
#back_arrow{
    display: none;
}
.profile-info{
    width: 30%;
    /* height: 100%; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}
.profile-img{
    width: 120px;
    height: 120px;
    background-color: #006494;
    border-radius:50%;
    margin-top: 4rem;
    box-shadow: 0rem 0rem 1rem #247BA0;
    overflow: hidden;
    background-position: center;
    object-fit: cover;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    
}
.profile-name{
    font-size: 28px;
    font-weight: 800;
    margin-top: 0.3rem;
}
.flull-stack{
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    letter-spacing: 1.9px;
    margin-top: -2rem;
}
.other-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 1rem;
    gap: 0.1rem;
}
.other-info .inbox{
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: rgba(255, 255, 0, 0.153);
    width: 92%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 7px;
}
.other-info .inbox a{
    text-decoration: none;
    color: white;
}
.inbox:hover{
    background-color: rgba(255, 255, 0, 0.248);
}
.other-info .inbox i{
    margin-left: 3px;
}
.other-info .sent{
    width: 92%;
    height: 40px;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    cursor: pointer;
    
}
.other-info .sent a{
    text-decoration: none;
    color: white;
}
.other-info .sent i{
    margin-left: 3px;
}
.sent:hover{
    background-color:  rgba(255, 255, 0, 0.248);
}

.line{
    width: 90%;
    height: 1px;
    margin-top: 0.9rem;
    background-color: rgba(255, 255, 255, 0.344);

}

.resume{
    width: 90%;
    height: 35px;
    display: flex;
    background-color: #006494;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.7rem;
    box-shadow: 0rem 0rem 0.5rem #006494;
   
}
.resume a{
    font-size: 17px;
    font-weight: 700;
    opacity: 0.9;
    text-decoration: none;
    color: white;
    
}
.resume i{
    font-size: 17px;
    
}


.about-skill{
    width: 60%;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.about-heading{
    letter-spacing: 1.5px;
}

.social-midea-links{
    display: flex;
    justify-content: space-around;
    
}

.links{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    border-radius: 5px;
    cursor: pointer;
}
.links a{
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.links i{
    font-size: 20px;
    margin-left: 0.1rem;
}
.links:hover{
    color: #E8F1F2;
    font-size: 16.5px;
}
.account{
    font-size: 14px; 
}
.skills{
    line-height: 3rem;
}
.skill-name{
    padding: 0.4rem 0.9rem;
    background-color: #1b98e04a;
    border-radius: 50px;
    margin-left: 1rem;
    
}

/* media querry ! for tab*/
@media (max-width:768px) {
    .members{
        width: 100%;
        height: 100%;
        display: flex;
        margin: auto;
        gap: 1rem;
        justify-content: center;
        
    }
    .member-card{
        width: 280px;
        height: 320px;
        background-color: #247BA0;
        margin: 1rem;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border: 5px solid #006494;
        box-shadow: 0rem 0rem 0.8rem #e8f1f2da;
    }
    .main_container{
        width: 100%;
        height: 100%;
        display: flex;
        margin: 0.5rem;
        gap: 2rem;
        
    }
    .back{
        font-size: 1.1rem;
        margin: 0.2rem;
        
    }
    .profile-img{
        margin-top: 1.5rem;
    }
    .profile-name{
        
        margin-top: 0.7rem;
    }
    .flull-stack{
        margin-top: -1.8rem;
    }
    .other-info{
        gap: 0.1rem;
    }
    .other-info .inbox{
        gap: 0.8rem;
        margin-top: 0.6rem;
    }
    .other-info .sent{
        gap: 1rem;
        margin-top: 0.6rem;
    }
    .links{
        gap: 0.9rem;
    }
    .about-skill{
        width: 61%;
        padding: 0.3rem;
        margin-top: 0rem;
    }
    .about-me p{
        margin-top: -0.9rem;
        font-size: 16.5px;
        line-height: 1.2;
    }
    .skills{
        line-height: 3rem;
        
    }
    .skill-name{
        margin-left: 0.7rem;
        
    }
  
}


/* media querry! for mobile */
@media (max-width:467px) {
    .navbar{
        width: 105.2%;
        overflow: hidden;
        
    }
    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        color: white;
        font-family: "Truculenta", sans-serif;
        background-color: #13293D;
     
    }
    .members{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto ;
        gap: 2rem;
        
    }
    .member-card{
        width: 280px;
        height: 320px;
        background-color: #247BA0;
        margin: 1rem;
        border-radius: 30px;
        display: flex;
        /* flex-direction: column; */
        border: 5px solid #006494;
        box-shadow: 0rem 0rem 0.8rem #e8f1f2da;
    }
    .main_container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        
    }
    .back{
        font-size: 1.3rem;
        margin: 0.4rem;
        
    }
    .profile-info{
        width: 100%;
        /* height: 100%; */
        
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        
    }
    .profile-img{
        width: 150px;
        height: 150px;
        background-color: #006494;
        border-radius:50%;
        margin-top: 1.6rem;
        box-shadow: 0rem 0rem 1rem #247BA0;
        overflow: hidden;
    }
    .profile-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
    }
    .profile-name{
        font-size: 35px;
        font-weight: 800;
        margin-top: 0.7rem;
    }
    .flull-stack{
        font-size: 17px;
        margin-top: -2.8rem;
        letter-spacing: 1.7px;
    }
    .other-info .inbox{
        gap: 2rem;
        margin-top: 0.3rem;
        margin-left: 0.4rem;
    }
    .other-info .inbox a{
        font-size: 20px;
    }
    .other-info .inbox i
    {
        font-size: 20px;
    }
    .other-info .sent{
        gap: 2.6rem;
        margin-top: 0rem;
        margin-left: 0.4rem;
    }
    .other-info .sent a{
        font-size: 20px;
    }
    .other-info .sent i{
        font-size: 20px;
    }
    .resume{
        padding: 0.7rem 7.6rem;
    }
    .links{
        gap: 2.2rem;
        margin-left: 0.4rem;
    }
    .about-skill{
        width: 100%;
        padding: 0.3rem;
        margin-top: 0rem;
    }
    .line{
        width: 96%;
    }
    .social-midea-links{
         justify-content: start;
         gap: 3rem;
    }
   
    .about-me p{
        margin-top: -0.9rem;
        font-size: 16px;
        line-height: 1.2;
    }
    .skills{
        line-height: 2.5rem;
        
    }
    .skill-name{
        margin-left: 0.5rem;
        
    }
}

